.vscode/
.DS_Store
.ipynb_checkpoints
*.ipynb
__pycache__/
data/OIE
data/RE
data/generated/
brat_preprocessing/annotated
generation/archived_models
model_implementation/glove.6B
model_implementation/AllenOIE
model_implementation/Custom/tokens
frontend-app/node_modules/
frontend-app/package-lock.json
frontend-app/.gitignore
