.Predictor {
    text-align: center;
}

.Predictor-Header {
    font-size: 30px;
    margin: 40px;
}

.SentenceInput-Label {
    margin: 10px;
}

.SentenceInput-Text {
    width: 600px;
}

.Results {
    text-align: center;
}
.Results-Header {
    font-size: 25px;
    margin: 20px;
}

.Results-Subheader {
    font-size: 15px;
    margin: 10px;
}

.ResultLine {
    margin: 10px;
}
